$base-color: #f02023;
$base-black: #131418;
$base-black-lighter: #333;
$base-indigo: #5c6ac4;
$base-gray: #828282;
$base-gray-lighter: #f2f2f2;
$base-green: #27ae60;
$base-white-darker: #f4f8f9;
$base-white: #fff;
$base-blue: #02b2fc;
$base-gold: #D0AB3E;