@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", monospace;
  -webkit-tap-highlight-color: transparent;
}

html {
  padding: 0 !important;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2F2F2F;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #222;
  border-radius: 10px;
}
